<footer class="site-footer section--theme-secondary">
	<div class="section__anchor" id="footer"></div>
	<div class="grid-container">
		<div class="grid-x grid-margin-x grid-margin-y">
			<div class="cell small-12 medium-6 large-3">
				<div class="rte rte--no-ul rte--smaller-text" data-in-view-scope>
					<h4>Karltoffel</h4>
<p>Vi tager os af det kedelige omkring hus og have, så du slipper for bøvlet og stadig får alle komplimenterne.</p>
{{EM_PARAGRAF}}


				</div>
			</div>
			<div class="cell small-12 medium-6 large-3">
				<div class="rte rte--no-ul" data-in-view-scope>
					
<h4>Kontakt</h4>
<ul>
<li><a href="tel:+4522223833">+45 2222 3833</a></li>
<li><a href="mailto:hej@karltoffel.dk">hej@karltoffel.dk</a></li>
<li>Mølbjerg 9, 8700 Horsens</li>
<li>CVR: 40941894</li>
</ul>



				</div>
			</div>

			<div class="cell small-12 medium-6 large-3">
				<div class="rte rte--no-ul" data-in-view-scope>
					<h4>Generelt</h4>
<ul>
<li><a href="/p/om-karltoffel">Om os</a></li>
<li><a href="/p/det-vi-ordner">Find vores ydelser</a></li>
<li><a href="/p/pakker-priser">Se Karltoffels årshjul</a></li>
</ul>



				</div>

			</div>
			<div class="cell small-12 medium-6 large-3">
				<div class="rte rte--no-ul" data-in-view-scope>
					<h4>De praktiske links</h4>
<ul>
<li><a href="/p/handelsbetingelser">Handelsbetingelser</a></li>
<li><a href="/p/cookiepolitik">Privatlivspolitik</a></li>
<li><a href="/p/cookiepolitik">Cookiepolitik</a></li>
<li><a href="{{CTA_HREF}}">Få et tilbud</a></li>
</ul>



				</div>
			</div>
		</div>
		<div class="site-footer__bottom">
			<div class="rte rte--inline" data-in-view-scope>
				<div class="social-container social-container--inline">Følg os på: 

						<div class="social-icons">
									<a href="https://www.facebook.com/profile.php?id=61590504536922" target="_blank" title="Facebook"><i class="fa-brands fa-facebook-f"></i><span>Facebook</span></a>
{{SOCIAL_IG}}
{{SOCIAL_LI}}
					
															</div>
</div>

			</div>
		</div>
	</div>
	<div class="site-footer__wordmark">
		<img src="/assets/img/design/karltoffel-logo-gul.svg" alt="Karltoffel">
	</div>

</footer>