<head>
	<meta charset="utf-8">
	<title>{{TITLE}}</title>
	<meta name="description" content="{{DESCRIPTION}}">{{NOINDEX_TOP}}
	<meta name="apple-mobile-web-app-title" content="Karltoffel">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap">
	<link rel="preconnect" href="https://www.googletagmanager.com">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.min.css?v=2">
	<style>@media (min-width:900px){.hero-slider.hero-slider{min-height:calc(100vh - 81px)}}</style>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-P3RXDG98');</script>
	<!-- End Google Tag Manager -->{{OG_HTML}}{{HOVEDDEL}}{{FLOATING}}{{PIXEL}}</head>