<header class="header header--fixed grid-container grid-container--full">
    <div class="grid-container grid-container--margin grid-container--full">
        <div class="header__background"></div>

				<div class="header__content show-for-desktop">
			<a href="/" title="Karltoffel" class="header__logo">
				<img class="logo" src="/assets/img/design/karltoffel-logo.svg" alt="Karltoffel" width="734" height="86">			</a>
			<nav class="header__nav">
				

<div class="nav">
    
    		<ul class="nav__items">
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/det-vi-ordner" class="nav__link" data-title="Det vi ordner">Det vi ordner</a>

							        </li>
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/pakker-priser" class="nav__link" data-title="Priser">Priser</a>

							        </li>
		    		        		        		        				
		        <li class="nav__item">
		            <a href="/p/aarshjul" class="nav__link" data-title="Årshjul">Årshjul</a>

							        </li>
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/erhverv" class="nav__link" data-title="Erhverv">Erhverv</a>

							        </li>
		    		        		        		        				
						        		        
						        		        
		        <li class="nav__item">
		            <a href="/p/om-karltoffel" class="nav__link" data-title="Om Karltoffel">Om Karltoffel</a>

							        </li>
		    		        		        		        				
		        <li class="nav__item">
		            <a href="/p/kontakt" class="nav__link" data-title="Kontakt">Kontakt</a>

							        </li>
		    		</ul>
    
</div>
			</nav>
			<div class="header__buttons">

	<div class="buttons">
	   <a href="{{CTA_HREF}}" class="button in-view in-view--slide-up"><span>Få et tilbud på mindre bøvl</span></a>
		    </div>
</div>		</div>

                <div class="header__content show-for-mobile">
			<a href="/" title="Karltoffel" class="header__logo">
				<img class="logo" src="/assets/img/design/karltoffel-logo.svg" alt="Karltoffel" width="734" height="86">			</a>
			<div class="filler"></div>
						<button type="button" class="header__toggle js-drawer-open" title="Åben menu" aria-label="Åben menu" aria-expanded="false">
				<div class="header__hamburger">
					<span></span>
				</div>
			</a>
        </div>
    </div>
		<div class="header__drawer drawer grid-container grid-container--bottom">
		<div class="drawer__background"></div>
		<div class="filler"></div>
		<nav class="drawer__nav">
			

<div class="nav">
    
    		<ul class="nav__items">
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/det-vi-ordner" class="nav__link" data-title="Det vi ordner">Det vi ordner</a>

							        </li>
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/pakker-priser" class="nav__link" data-title="Priser">Priser</a>

							        </li>
		    		        		        		        				
		        <li class="nav__item">
		            <a href="/p/aarshjul" class="nav__link" data-title="Årshjul">Årshjul</a>

							        </li>
		    		        		        		        				
						        		        
		        <li class="nav__item">
		            <a href="/p/erhverv" class="nav__link" data-title="Erhverv">Erhverv</a>

							        </li>
		    		        		        		        				
						        		        
						        		        
		        <li class="nav__item">
		            <a href="/p/om-karltoffel" class="nav__link" data-title="Om Karltoffel">Om Karltoffel</a>

							        </li>
		    		        		        		        				
		        <li class="nav__item">
		            <a href="/p/kontakt" class="nav__link" data-title="Kontakt">Kontakt</a>

							        </li>
		    		</ul>
    
</div>
		</nav>
					<div class="drawer__footer">
									<div class="drawer__buttons">
						

	<div class="buttons">
	   <a href="{{CTA_HREF}}" class="button in-view in-view--slide-up"><span>Få et tilbud på mindre bøvl</span></a>
		    </div>

					</div>
							</div>
			</div>
</header>